[Unit]
Description=mumble-xmpp-notifier

[Service]

WorkingDirectory=/opt/mumble-xmpp-notifier/
ExecStart=/opt/mumble-xmpp-notifier/app.py

NoNewPrivileges=yes
ProtectHome=yes
DynamicUser=yes
ProtectUsers=full
ProtectClock=yes
ProtectHostname=yes
ProtectSystem=full
Umask=002
Restart=always
Type=simple
RestartSec=15s



[Install]
WantedBy=multi-user.target
